*{
    margin: 0;
    padding: 0;
    
}
/**Main Section */
.title-text{
    width:90%;
    font-family: Dancing Script;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-300%);
    text-align: center;
}
.title-text h1{
    color: #e40f8d;
    font-size: 100px;
    text-shadow: 30px 20px 20px  Indigo;
}
.main-f{
    width: 100%;
    height: 100vh;
    background: url(image/bg.jpg);
    background-size: cover;
    display: flex;
}
.main-f h1{
background: red;
}
.logo{
    flex: 1;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
    
}
.logo h1{
    font-family: Dancing Script;
    font-size:62px;
    border:2px double white;
    max-width: 15%;
    text-align: center;
    background: -webkit-linear-gradient(#eee, #167c9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo h1:hover{
    max-width: 100%;
    font-size: 82px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.navbar{
    flex: .5;
}
.main-f .navbar ul li{
    display: inline-flex;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
    font-size: 26px;
    font-family: cursive;
    font-weight: 600;
    color: #23B2A1;
}
@media screen and (max-width: 768px) {
    .main-f .navbar {
        flex-direction: column;
    }
}
/**Products */

.products{
    width: 90%;
    display: flex;
    margin: 100px auto;
    padding: 10px;
    justify-content: center;
    height: 800px;
}
.products .products-items{
    width:450px ;
    height: 700px;
    margin: 0 10px;
    border: 1px solid gray;
}
.products .products-items img{
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
}
.products .products-items h1{
    font-size: 52px;
    text-align: center;
    font-family: Dancing Script;
}
.products .products-items p{
    font-size: 16px;
    text-align: center;
    padding: 20px;
    font-family: cursive;
}
.products-items:hover{
    
    box-shadow: 2px 2px 2px #000;
    text-shadow: 4px 4px 8px #42455a;
    border-radius: 30px;
}
@media screen and (max-width: 768px) {
    .products {
        padding-top: 100vh;
        flex-direction: column;
    }
}



/**paragraph */
.paragraph{
    height: 400px;
    display: flex;
    width: 90%;
   margin: auto;
   margin-top: -100PX;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4.5px );
   -webkit-backdrop-filter: blur( 4.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.paragraph:hover{
    
    box-shadow: 2px 2px 2px #000;
    text-shadow: 4px 4px 8px #42455a;
    border-radius: 30px;
}


.paragraph .paragraph-1 {
    flex: 1;
    
    padding: 20px;
    display: flex;
    justify-content: left;
}
.paragraph .paragraph-1 img{
    height: 90%;
    width: 80%;
}
.paragraph .pragraph-text {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background: rgba( 255, 255, 159, 0.25 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 4.5px );
     -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

@media screen and (max-width: 768px) {
    .paragraph {
        padding-top: 100vh;
        flex-direction: column;
    }
}

/*PARAGRAPH 2 */
.paragraph2{
    height: 400px;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: rgba( 255, 255, 255, 0.25 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 4.5px );
     -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.paragraph2:hover{
    
    box-shadow: 2px 2px 2px #000;
    text-shadow: 4px 4px 8px #42455a;
    border-radius: 30px;
}
.paragraph2 .paragraph-1 {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: right;
}
.paragraph2 .paragraph-1 img{
    height: 90%;
    width: 80%;
    
}
.paragraph2 .pragraph-text {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background: rgba( 255, 255, 159, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
       border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.pragraph-text h1{
font-family: Dancing Script;
font-size: 42px;
}
.pragraph-text p{
    font-family: cursive;
    }
@media screen and (max-width: 768px) {
    .paragraph2 {
        padding-top: 60px;
        flex-direction: column;
    }
}


/**Image Slider */

  .image-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60vh;
    margin-top: 200px;
  }
 

.slider{
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 800px;
  border: 7px solid white;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}
  
  .slides{
    width: 500%;
    height: 800px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 400px;
    height: 800px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: -40px;
  }
  
  .manual-btn{
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 3px solid white;
    padding: 5px;
    width: 30px;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #c43af3;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    justify-content: center;
    margin-top: 460px;
    display: flex;
    width: 800px;
  }
  
  .navigation-auto div{
    border-radius: 10px;
    transition: 1s;
    border: 3px solid #c43af3;
    padding: 5px;
    width: 30px;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #c43af3;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
   
    background: #c43af3;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #c43af3;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #c43af3;
  }