*{
    margin: 0;
    padding: 0;
    
}
/**Main Section */
.title-text{
    width:90%;
    font-family: Dancing Script;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-300%);
    text-align: center;
}
.title-text h1{
    color: #e40f8d;
    font-size: 100px;
    text-shadow: 30px 20px 20px  Indigo;
}
.main-f{
    width: 100%;
    height: 100vh;
    background: url(image/bg.jpg);
    background-size: cover;
    display: flex;
}
.main-f h1{
background: red;
}
.logo{
    flex: 1;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
    
}
.logo h1{
    font-family: Dancing Script;
    font-size:62px;
    border:2px double white;
    max-width: 15%;
    text-align: center;
    background: -webkit-linear-gradient(#eee, #167c9d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo h1:hover{
    max-width: 100%;
    font-size: 82px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.navbar{
    flex: .5;
}
.main-f .navbar ul li{
    display: inline-flex;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
    font-size: 26px;
    font-family: cursive;
    font-weight: 600;
    color: #23B2A1;
}
@media screen and (max-width: 768px) {
    .main-f .navbar {
        flex-direction: column;
    }
}
/**Products */

.products{
    width: 90%;
    display: flex;
    margin: 100px auto;
    padding: 10px;
    justify-content: center;
    height: 800px;
}
.products .products-items{
    width:450px ;
    height: 700px;
    margin: 0 10px;
    border: 1px solid gray;
}
.products .products-items img{
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
}
.products .products-items h1{
    font-size: 52px;
    text-align: center;
    font-family: Dancing Script;
}
.products .products-items p{
    font-size: 16px;
    text-align: center;
    padding: 20px;
    font-family: cursive;
}
.products-items:hover{
    
    box-shadow: 2px 2px 2px #000;
    text-shadow: 4px 4px 8px #42455a;
    border-radius: 30px;
}
@media screen and (max-width: 768px) {
    .products {
        padding-top: 100vh;
        flex-direction: column;
    }
}



/**paragraph */
.paragraph{
    height: 400px;
    display: flex;
    width: 90%;
   margin: auto;
   margin-top: -100PX;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4.5px );
   -webkit-backdrop-filter: blur( 4.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.paragraph:hover{
    
    box-shadow: 2px 2px 2px #000;
    text-shadow: 4px 4px 8px #42455a;
    border-radius: 30px;
}


.paragraph .paragraph-1 {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: left;
}
.paragraph .paragraph-1 img{
    height: 90%;
    width: 80%;
}
.paragraph .pragraph-text {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background: rgba( 255, 255, 159, 0.25 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 4.5px );
     -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

@media screen and (max-width: 768px) {
    .paragraph {
        padding-top: 100vh;
        flex-direction: column;
       
        
    }
}


/*PARAGRAPH 2 */
.paragraph2{
    height: 400px;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background: rgba( 255, 255, 255, 0.25 );
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 4.5px );
     -webkit-backdrop-filter: blur( 4.5px );
        border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.paragraph2:hover{
    
    box-shadow: 2px 2px 2px #000;
    text-shadow: 4px 4px 8px #42455a;
    border-radius: 30px;
}
.paragraph2 .paragraph-1 {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: right;
}
.paragraph2 .paragraph-1 img{
    height: 90%;
    width: 80%;
    
}
.paragraph2 .pragraph-text {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    background: rgba( 255, 255, 159, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
       border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.pragraph-text h1{
font-family: Dancing Script;
font-size: 42px;
}
.pragraph-text p{
    font-family: cursive;
    }
@media screen and (max-width: 768px) {
    .paragraph2 {
        padding-top: 60px;
        flex-direction: column;
        flex: 1;
        display: flex;
        justify-content: center;
        padding: 20px;
        
    }
}



/**Image Slider */

  .image-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60vh;
    margin-top: 200px;
  }
 

.slider{
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 800px;
  border: 7px solid white;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}
  
  .slides{
    width: 500%;
    height: 800px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 400px;
    height: 800px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: -40px;
  }
  
  .manual-btn{
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 3px solid white;
    padding: 5px;
    width: 30px;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #c43af3;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    justify-content: center;
    margin-top: 460px;
    display: flex;
    width: 800px;
  }
  
  .navigation-auto div{
    border-radius: 10px;
    transition: 1s;
    border: 3px solid #c43af3;
    padding: 5px;
    width: 30px;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #c43af3;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
   
    background: #c43af3;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #c43af3;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #c43af3;
  }



  /**Daily Post */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

  *{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
 }

.blog-post-f{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:25px 20px;
  margin-top: 170px;
}

.blog-post-f .heading{
  font-size: 40px;
  margin-bottom: 20px;
  color:#334;
}

.blog-post-f .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap:20px;
}

.blog-post-f .box-container .box{
  background-color: #fff;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}

.blog-post-f .box-container .box:nth-child(1),
.blog-post-f .box-container .box:nth-child(2),
.blog-post-f .box-container .box:nth-child(3){
  display: inline-block;
}

.blog-post-f .box-container .box .image{
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

 .box .image img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.blog-post-f .box-container .box:hover .image img{
  transform: scale(1.1);
}

.blog-post-f .box-container .box .content h3{
  font-size: 20px;
  color:#334;
}

.blog-post-f .box-container .box .content p{
  font-size: 15px;
  color:#777;
  line-height: 2;
  padding:15px 0;
}

.blog-post-f .box-container .box .content .btn{
  display: inline-block;
  padding:10px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
}

.blog-post-f .box-container .box .content .btn:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

.blog-post-f .box-container .box .content .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top:1px solid #334;
}

.blog-post-f .box-container .box .content .icons span{
  font-size: 14px;
  color:#777;
}

.blog-post-f .box-container .box .content .icons span i{
  color:crimson;
  padding-right: 5px;
}

#load-more{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

@media (max-width:450px){

  .blog-post-f .heading{
    font-size: 25px;
  }

  .blog-post-f .box-container{
    grid-template-columns: 1fr;
  }

  .blog-post-f .box-container .box .image{
    height: 200px;
  }

  .blog-post-f .box-container .box .content p{
    font-size: 12px;
  }

  .blog-post-f .box-container .box .content .icons span{
    font-size: 12px;
  }

}



/**Video */

*{
    margin: 0;
    padding: 0;
}
body{ 
    background-image: linear-gradient(90deg, #d65db1, #e05fab, #e961a5, #f1649f, #f86899, #fb6d93, #fe728c, #ff7887, #ff7f80, #ff867a, #ff8e75, #ff9671);
}
.v-gallary{
    width: 80%;
    margin: 80px auto;
}
.v-gallary h1{
    padding: 60px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 19px;
    overflow: hidden;
}
.small-img-row{
    display: flex;
    background: #ff8e75;
    margin: 20px 0;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 85%;
}
.small-img{
    position: relative;
}
.small-img img{
    width: 150px ;
}
#img4{
    background: #fe728c;
}
#img3{
background: #f86060;
}
#img2{
background:#f8606085;
}
.small-img-row p{
    margin-left: 20px;
    color: #fff;
    line-height: 22px;
    font-size: 15px;
}

.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.small-img .play-btn{
    width: 35px;
}


.video-player{
    width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
video:focus{
    outline: none;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

/**Footer */


/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

footer{
  position: relative;/**position:relative for website */
  background: rgba( 250, 200, 103, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}




